<aside id="sidebar">
  <div class="text-center mt-4">
    <i
      class="fas fa-user-circle user-icon"
      style="font-size: 6rem; color: white"
    ></i>
    <div class="sidebar-rol-name">
      <p style="color: white; font-size: 1rem">Docente</p>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="/inicio-docente" class="sidebar-link">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        data-bs-toggle="collapse"
        data-bs-target="#libros"
        aria-expanded="false"
        aria-controls="libros"
      >
        <i class="lni lni-book"></i>
        <span>Libros</span>
      </a>
      <ul
        id="libros"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a href="/consultar-libro/docente" class="sidebar-link">Consultar libro</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        data-bs-toggle="collapse"
        data-bs-target="#prestamo"
        aria-expanded="false"
        aria-controls="prestamo"
      >
        <i class="fas fa-book"></i>
        <span>Préstamo</span>
      </a>
      <ul
        id="prestamo"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a href="/solicitar-prestamo/docente" class="sidebar-link">Solicitar préstamo</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a href="/" class="sidebar-link">
      <i class="fas fa-power-off"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>