.login-docente {
    margin-top: 3rem;
  }
  
  .login-docente .title {
    background-color: #fdd835;
    color: #000;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
  }
  
  .login-docente .form-control {
    font-size: 1.25rem;
    padding: 0.75rem;
    border: 2px solid #000;
    border-radius: 0.25rem;
  }
  
  .login-docente .btn-primary {
    background-color: #00aaff;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .login-docente .btn-primary:hover {
    background-color: #008ecc;
  }
  