/* public/css/pages/reserva-exitosa.css */
.reserva-exitosa {
  margin-top: 3rem;
}

.reserva-exitosa .title {
  background-color: #fdd835;
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-primary {
  background-color: #00aaff;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: #fff;
}

.btn-primary:hover {
  background-color: #008ecc;
}
