/* public/css/pages/reservar-cubiculo.css */
.reservar-cubiculo {
  margin-top: 3rem;
}

.reservar-cubiculo .title {
  background-color: #fdd835;
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.cubiculos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.cubiculo {
  width: 60px; /* Ajuste del tamaño del cubículo */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.cubiculo.selected {
  border-color: #000;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.estado-icon {
  width: 20px; /* Tamaño de los iconos de estado */
  height: 20px;
}

.btn-primary {
  background-color: #00aaff;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: #fff;
}

.btn-primary:hover {
  background-color: #008ecc;
}
