{{!-- views/pages/login-personal.hbs --}}
{{#*inline "styles"}}
<link rel="stylesheet" href="/css/pages/login-personal.css">
{{/inline}}

{{> styles }}

<div class="container login-personal">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h2 class="title">Login para Personal de Apoyo</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <form class="text-center" action="/login/personal" method="post">
                <div class="form-group mb-3">
                    <input type="email" name="correo" class="form-control form-control-lg" placeholder="Correo Institucional" required>
                </div>
                <div class="form-group mb-3">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </form>
        </div>
    </div>
</div>
<div class="sidebar-footer">
    <a href="/" class="sidebar-link">
        <i class="fas fa-power-off"></i>
        <span>Logout</span>
    </a>
</div>
