{{#*inline "styles"}}
<link rel="stylesheet" href="/css/pages/inicio-docente.css">
{{/inline}}

{{>styles}}

<section class=" post bg-img" data-bg="background.jpg">
    <span class="image right">
        <img src="images/inicio1.png" alt="Descripción de la imagen">
    </span>
</section>